.page {
  margin-top: 50px;
  display: flex;
}
.page .side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page .content {
  flex: 2;
  border-left: solid 1px black;
  padding: 0 100px;
}

.page .content .image-container {
  display: flex;
  justify-content: center;
}

.bullets {
  list-style-type: none;
  font-size: 20px;
}

.content {
  display: flex;
  flex-direction: column;
}

#image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: black;
  border-style: groove;
}
h2 {
  font-style: bold;
}
dt {
  font-weight: 800;
}
body {
  background-color: wheat;
}
#myDog {
  color: blue;
}

.prop dd {
  display: inline;
  margin: 0;
}
.prop dt {
  display: inline-block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.prop {
  padding: 5px;
}
